<h1>Student Show</h1>

<h1>Name: <%= @student.name %></h1>
<h2>Age: <%= @student.age %></h2>

<h2>Courses: </h2>
<ul>
    <% @student.courses.each do |course| %>
    <li><%= course.name %></li>
    <% end %>
</ul>



